/Examples/GameEditor/x64
/Examples/GameEditor/*.filters
/Examples/GameEditor/*.user
/RenderFramework/Debug
/RenderFramework/*.user
/RenderFramework/x64
/.vs
/Debug
/x64
/Test/VulkanWrapperSandbox/x64
/Test/VulkanWrapperSandbox/*.filters
/Test/VulkanWrapperSandbox/*.user
